{% form_theme form 'form/simplified.html.twig' %}

<form method="post" action="{{ path('app_zahlung_edit', {'id': zahlung.id}) }}" data-controller="zahlung-form"
      data-zahlung-form-rechnung-by-dienstleister-url-value="{{ path('app_rechnung_by_dienstleister', {'id': 'DIENSTLEISTER_ID'}) }}">
    {{ form_errors(form) }}

    <div class="grid grid-cols-1 gap-4 mb-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
                {{ form_row(form.datum, {'row_attr': {'class': 'mb-0'}}) }}
            </div>
            <div>
                {{ form_row(form.abrechnungsjahrZuordnung, {'row_attr': {'class': 'mb-0'}}) }}
            </div>
        </div>

        <div class="col-span-1">
            {{ form_row(form.bezeichnung) }}
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
                {{ form_row(form.betrag, {'attr': {'data-zahlung-form-target': 'betrag'}, 'row_attr': {'class': 'mb-0'}}) }}
            </div>
            <div class="hndanteil-group">
                {{ form_row(form.hndAnteil, {'attr': {'data-zahlung-form-target': 'hndAnteil'}, 'row_attr': {'class': 'mb-0'}}) }}
            </div>
        </div>

        <div class="col-span-1">
            {{ form_row(form.hauptkategorie, {'attr': {'data-zahlung-form-target': 'hauptkategorie'}}) }}
        </div>

        <div class="col-span-1 kostenkonto-group">
            {{ form_row(form.kostenkonto, {'attr': {'data-zahlung-form-target': 'kostenkonto'}}) }}
        </div>

        <div class="col-span-1 eigentuemer-group">
            {{ form_row(form.eigentuemer, {'attr': {'data-zahlung-form-target': 'eigentuemer'}}) }}
        </div>

        <div class="col-span-1 dienstleister-group">
            {{ form_row(form.dienstleister, {'attr': {'data-zahlung-form-target': 'dienstleister'}}) }}
        </div>

        <div class="col-span-1 rechnung-group">
            {{ form_row(form.rechnung, {'attr': {'data-zahlung-form-target': 'rechnung'}}) }}
        </div>

        <div class="col-span-1 mehrwertsteuer-group">
            {{ form_row(form.gesamtMwSt, {'attr': {'data-zahlung-form-target': 'mehrwertsteuer'}}) }}
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-hide="editZahlungModal">
            Abbrechen
        </button>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Aktualisieren
        </button>
    </div>

    {{ form_rest(form) }}
</form>